<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">



<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger"/>
        </form>
        
<hr/> 
       
<a href="/admin/user">All Users</a> | 
<a href="/admin/post">All Posts</a>



</div>
</body>
</html>