 <!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
<h3 class="page-header">Create new user</h3>

<form th:action="@{/admin/user/new}" th:object="${user}" method="post">



 <div class="form-group " th:classappend="${#fields.hasErrors('username')} ? has-error">
    <label for="username">Username</label>
   	<input type="text" th:field="*{username}" class="form-control"/>
   	<span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Woohoo!</span>
 </div>
 
 
  <div class="form-group " th:classappend="${#fields.hasErrors('email')} ? has-error">
    <label for="username">Email address</label>
   	<input type="text" th:field="*{email}" class="form-control"/>
   	<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Woohoo!</span>
 </div>
 
 
 <div class="form-group " th:classappend="${#fields.hasErrors('firstName')} ? has-error">
    <label for="username">First name</label>
   	<input type="text" th:field="*{firstName}" class="form-control"/>
   	<span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Woohoo!</span>
 </div>


 <div class="form-group " th:classappend="${#fields.hasErrors('lastName')} ? has-error">
    <label for="username">Last name</label>
   	<input type="text" th:field="*{lastName}" class="form-control"/>
   	<span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Woohoo!</span>
 </div>
 
 
 <div class="form-group " th:classappend="${#fields.hasErrors('password')} ? has-error">
    <label for="username">Password</label>
   	<input type="password" th:field="*{password}" class="form-control"/>
   	<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Woohoo!</span>
 </div>
 
 
 <div class="form-group">
    <label for="username">User role</label>
    
     <select  class="form-control" th:field="*{roleId}">
            			<option th:each="role : ${roles}" th:value="${role.roleId}"  th:text="${role.roleName}">Options</option>
        			</select>
   	
   	
 </div>



<button type="submit" class="btn btn-success">Save</button>

<a href="/admin/user" class="btn btn-default">Cancel</a>

</form>



</div>
</div>
</div>
</body>
</html>