<html>
    <body>
    

        <form action="#" th:action="@{/admin/user/edit(id=${user.id})}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
            <table>
                <tr>
                    <td>Username*:</td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
                </tr>
                <tr>
                    <td>Email*:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                </tr>
                 <tr>
                    <td>Role:</td>
                    <td>
                    <select name="roleId">
            			<option th:each="role : ${roles}" th:value="${role.roleId}"  th:text="${role.roleName}" th:selected="${role.roleId.equals(user.getRoleId() )}">Options</option>
        			</select>
        			</td>
                    <td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Name Error</td>
                </tr>
                
                
                <tr>
                    <td>Status:</td>
                    <td>

					 <select name="status">
            			<option value="1" th:selected="${user.getStatus().equals(true)}">Enable</option>
            			<option value="0" th:selected="${user.getStatus().equals(false)}">Disabled</option>
        			</select>                  

        			</td>
                    <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</td>
                </tr>
                
                
               
                
                
                
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>