 <!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


<h3 class="page-header">All users</h3>

<a th:href="@{/admin/user/new}" class="btn btn-success">Add new user</a>


<table>
<tr>
<th>Username</th>
<th>Email</th>
<th>Name</th>
<th>Role</th>
<th>Status</th>
<th>Created at</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.fullName}"></td>
     <td th:text="${user.roleName}"></td>
    <td th:text="${user.status}"></td>
    <td th:text="${user.created_at}"></td>
    <td><a th:href="@{/admin/user/edit(id=${user.id})}">Edit</a></td>
    <td><a th:href="@{/admin/user/delete(id=${user.id})}">Delete</a></td>
</tr>
</table>







</div>
</body>
</html>