<h3>All Users</h3>
<a th:href="@{/admin/user/new}">Add new user</a>
<table border="1">
<tr>
<th>Username</th>
<th>Email</th>
<th>Name</th>
<th>Role</th>
<th>Status</th>
<th>Created at</th>
<th>Edit</th>
</tr>

<tr th:each="user : ${users}">
    <td th:text="${user.username}">1</td>
    <td th:text="${user.email}">Text ...</td>
    <td th:text="${user.fullName}">Text ...</td>
     <td th:text="${user.roleName}">Text ...</td>
    <td th:text="${user.status}">Text ...</td>
    <td th:text="${user.created_at}">Text ...</td>
    <td><a th:href="@{/admin/user/edit(id=${user.id})}">Edit</a></td>
</tr>
</table>
