 <!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">


<h3 class="page-header">All posts</h3>

<a th:href="@{/admin/post/new}" class="btn btn-success">Add new post</a>

<table class="table table-striped">

<tr th:each="post : ${posts}">
    <td th:text="${post.id}">1</td>
    <td th:text="${post.title}">Text ...</td>
    <td th:text="${post.content}">Text ...</td>
    <td><a th:href="@{/admin/posts/edit(id=${post.id})}">Edit</a></td>
    <td><a th:href="@{/admin/posts/delete(id=${post.id})}">Delete</a></td>
</tr>

</table>


</div>
</body>
</html>